{% extends "blog/login_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class='text-center'
  style="padding: 8px; background-color: black; border-radius: 10px; color: white; width: 300px; margin: auto;">
  Welcome to dateagreek
</h3>
<div class="content-section container"
  style="width: 60%; border-radius: 30px; border: solid 0.5px black; margin: auto; margin-top: 80px; padding: 15px;">
  <form method="POST">
    {% csrf_token %}
    <fieldset class='form-group'>
      <legend class='border-bottom mb-4'>Log In</legend>
      {{ form|crispy }}
    </fieldset>
    <div class='form-group'>
      <button class='btn btn-outline-primary' type='submit'>Log In</button>
      <small class='text-muted ml-2'>
        <a href="{% url 'password_reset' %}">I forgot my password</a>
      </small>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class='text-muted'>New Here?<a class='ml-2' href="{% url 'register' %}">Create an account</a></small>
  </div>
</div>
{% endblock content %}